body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  z-index: -9999;
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.card-image {
  width: 200px;
}

.card {
  cursor: pointer;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 450px;
}

.movies {
  justify-content: space-around;
  display: flex;
  padding: 0px 100px;
  flex-wrap: wrap;
}

.card-content {
  padding: 0px;
}

.filters p {
  margin-right: 2rem;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #ef9a9a;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid #ef9a9a;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: #fbe9e7;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444;
}

.custom-modal {
  z-index: 9999;
  width: 60vw;
  height: 75vh;
  background: #ef9a9a;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 200px #000;

}

.image-block {
  width: 30%;
  height: 50%;
  /* background-color: white; */

}

.discription-block {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}

.discription-block span {
  flex-grow: 1;
}

.statystic-block {
  width: 100%;
  height: 50%;
  font-size: 23px;
  justify-content: center;
  /* background-color: orange; */
}